<div class="heading container">
  <header gloablSectionHeader>
    <p>Categories & Sub-categories</p>
  </header>
  <div class="container-fluid" *ngIf="isresponsed">
    <div class="row">
      <div class="col-md-12">
        <mat-accordion>
          <mat-expansion-panel hideToggle *ngFor="let categorySubcategory of categoriesSubcategoriesData">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h1> {{categorySubcategory.categoryName}}</h1>
              </mat-panel-title>


            </mat-expansion-panel-header>
            <div *ngFor="let subCategories of categorySubcategory.subcategories">
              <h4>
                {{subCategories.subCategoryName}} <button class="btn btn-danger"
                  (click)="deleteSubCategory(subCategories.subCategoryId)">Delete</button>
              </h4>

            </div>
            <button class="btn btn-danger" style="float: right"
              (click)="openDialog(categorySubcategory.categoryId)">Add</button>
          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </div>
  </div>
</div>
