<div class="heading">
  <header gloablSectionHeader>
    <p>All Featured Products</p>
  </header>

  <div class="container-fluid" *ngIf="isresponsed">

    <div class="row">
      <div class="col-md-4" *ngFor="let featured of featuredProductsData">
        <div class="row justify-content-center mb-3 ml-3 mr-3">
          <mat-card class="example-card background-color">
            <mat-card-header>
              <mat-card-title>{{featured.name}}</mat-card-title>
              <!-- <mat-card-subtitle>{{featured.subCategory}}</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image src={{featured.images[0]}} alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                {{featured.description}}
              </p>
              <p>
                Price: {{featured.price}}
              </p>
              <p>
                Quantity: {{featured.quantity}}
              </p>
              <p>
                Size: {{featured.size}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button class="btn btn-danger">Delete</button> -->
              <button class="btn btn-danger" style="float: right" (click)="deleteFeatured(featured._id)">Delete
                Featured Product</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
