<div class="heading">
  <header gloablSectionHeader>
    <p>Banners For First Page</p>
  </header>
  <div class="container" *ngIf="isresponsed">
    <div class="row">
      <div class="col-md-6" *ngFor="let banner of banners">
        <div class="row justify-content-center mb-5">
          <i class="fa fa-image fa-3x mr-2 mt-0" style="color:lightskyblue"></i>
          <img class="img-fluid rounded" src="{{banner.image}}" />
          <input class="ng-hide mt-2" id="input-file-id" multiple type="file" />
        </div>
      </div>
    </div>
  </div>
</div>
