<div class="heading">
  <header gloablSectionHeader>
    <p>Orders</p>
  </header>

  <div class="container-fluid" *ngIf="isresponsed">

    <div class="row">
      <div class="col-md-4" *ngFor="let orders of ordersData.orderItems">
        <div class="row justify-content-center mb-3 ml-3 mr-3">
          <mat-card class="example-card background-color" >
            <mat-card-header>
              <mat-card-title>{{orders.name}}</mat-card-title>
              <!-- <mat-card-subtitle>{{orders.subCategory}}</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image src={{orders.images[0]}} alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
               {{orders.description}}
              </p>
              <p>
              Price: {{orders.price}}
              </p>
              <p>
              Quantity: {{orders.quantity}}
              </p>
              <p>
              Size: {{orders.size}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button class="btn btn-danger">Delete</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
